.sliding-content {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    max-height: 0; /* Initially hidden */
}

.sliding-content.active {
    max-height: 1000px; /* This value can be changed to fit the content's size */
}

.logo-container,
.content-container {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.portfolio-counter {
    font-size: 30px;
    font-weight: 400;
    color: dark grey;  /* Neutral dark gray */
    margin: 0;
    padding: 0;
    letter-spacing: -1.25px;  /* Closer letter spacing for modern look */
  }
  
  